/* Contenedor para los iconos */
#icon-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    position: fixed; 
    bottom: 0; 
    left: 60px;
    width: 90%; 
    height: 50px;
    padding-bottom: 5px;
    border-top: 2px solid #bd2c74; 
    align-items: center;
    z-index: 900; 
}

/* Estilo de los iconos */
#icon-container a {
    font-size: 4rem;
    color: #bd2c74;
    text-decoration: none; 
    transition: transform 0.2s, color 0.2s;
}

#icon{
    padding-bottom: 20px;
}

#icon-container a:hover {
    transform: scale(1.3);
    color: #eb3691;
}


