body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f0f0f0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #ffffff; 
    font-size: 3rem; 
    font-weight:100; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 
                 0 0 25px rgba(255, 255, 255, 0.8), 
                 0 0 5px rgba(255, 255, 255, 0.6); 
    letter-spacing: 1px; 
  }
  label{
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 100;
  }
  /* Input de número */
  input[type="number"] {
    width: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  /* Botón de generar */
  button {
    background-color: #eb3691;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #bd2c74;
  }
  
  /* Área para mostrar la contraseña */
  #password {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
  }
  .container-password{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 40px;
    justify-items: center;
  }
 